<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href=stats_path>Stats</a>
  <%= link_to "Goals", goals_path %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</div>

<i class="fas fa-bars" style="color:white" onclick="openNav()"></i>

<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "60%";
  document.body.style.backgroundColor = "rgba(0,0,0,1)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>


<div class="container">
  <%= "Lv." %> <%= current_user.experience %>
  <% if @goals.present? %>
  <a href="goals/new">+</a>
    <li style="list-style-type: none;">
    <% @goals.each do |goal| %>
    <ul class="card">
      <% if goal.role == "Brain" %>
        <div class="brain-card">
          <%= link_to goal.name,goal_path(goal) %>
        </div>
      <% elsif goal.role == "Specialty" %>
        <div class="specialty-card">
          <%= link_to goal.name,goal_path(goal) %>
        </div>
      <% elsif goal.role == "Muscle" %>
        <div class="muscle-card">
          <%= link_to goal.name,goal_path(goal) %>
        </div>
      <% end %>
      <% if goal.exp == 5 %>
          <%= "Easy:" %> <%= goal.exp %>
      <% elsif goal.exp == 20 %>
          <%= "Medium:" %> <%= goal.exp %>
      <% elsif goal.exp == 50 %>
          <%= "Hard:" %> <%= goal.exp %>
      <% end %>
    </ul>
    <% end %>
    </li>
    <% else %>
    <%= "No goals yet?" %>
    <div>
      <a href='goals/new' class="btn btn-danger">Set some</a>
    </div>
    <% end %>
</div>


