<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href=stats_path>Stats</a>
  <%= link_to "Goals", goals_path %>
</div>

<i class="fas fa-bars" onclick="openNav()"></i>

<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "60%";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.body.style.backgroundColor = "white";
}
</script>

<h1>New Goal</h1>
  <%= simple_form_for @goal do |f| %>
    <%= f.input :name %>

    <%= f.simple_fields_for :roles do |w| %>
      <%= w.input :type, collection: ["Brain", "Muscle", "Specialty"] %>
    <% end %>

    <%= f.simple_fields_for :dificulties do |w| %>
      <%= w.input :exp, collection: [5, 20, 50] %>
    <% end %>

    <%= f.button :submit,"Submit", class: "btn btn-flat" %>
<% end %>
